
body{
	  font-family:Arial, Helvetica, sans-serif;

}





.sidenav {
  height: 100%;
  width: 20vw;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #F2F2F2;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
	
	
  padding: 16px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #2643BE;
  display: block;
}

.sidenav a:hover {
  color: #2643BE;
  background-color: #E9ECF9;

}
.active {
  font-weight: 900;

}
	
.main {
  margin-left: 20vw;
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}